	<script type="text/template" id="apartado-item-detail-template">

		<form id="form-apartado" method="post" action="#">
			<div class="form-group">
			    <label for="apartadoEditFormApartado">Nombre</label>
			    <input name="apartado" class="form-control" value="<%- apartado %>" id="apartadoEditFormApartado" required />
			</div>
			<div class="form-group">
			    <label for="apartadoEditFormkey">Key</label>
			    <input name="key" class="form-control" value="<%- key %>" id="apartadoEditFormKey" required />
			</div>
			<input type="submit" style="visibility:hidden;">
		</form>
	</script>