	<script type="text/template" id="apartado-new">

		<form id="form-apartado" method="post" action="#">
			<div class="form-group">
			    <label for="apartadoNewFormApartado">Nombre</label>
			    <input name="apartado" class="form-control" id="apartadoNewFormApartado" required />
			</div>
			<div class="form-group">
			    <label for="apartadoNewFormkey">Key</label>
			    <input name="key" class="form-control" id="apartadoNewFormKey" required />
			</div>
			<input type="submit" style="visibility:hidden;">
		</form>
	</script>