	<script type="text/template" id="apartado-item-detail-template">

		<form id="form-apartado-edit" method="post" action="#">
			<div>
				<span>apartado:</span><input name="apartado" value="<%- apartado %>" />
			</div>
			<div>
				<span>key:</span><input name="key" value="<%- key %>" />
			</div>
			<div>
				<span>img:</span><input name="img" value="<%- img %>" />
			</div>
			<div>
				<input type="submit" /><a href="#" class="cancel-edit-apartado">Cancelar</a>
			</div>
		</form>
	</script>