	<script type="text/template" id="apartado-item">
		<td><%= key %></td>
		<td><a href="#/apartado/<%- id %>" class="ver-apartado ">
					<%- apartado %>
				</a>
		</td>
		<td><a href="#/apartado/edit/<%- id %>" class="editar-apartado btn">
						<span class="glyphicon glyphicon-edit"></span> Editar
					</a></td>
		<td><%- modificado %></td>
		<td>
			<a href="#" class="btn-status text-<%- status ==1 ? 'success' : 'danger' %>"><span class="glyphicon glyphicon-eye-<%- status == 1 ? 'open' : 'close' %>"></span></a>
			<a href="#" class="btn-delete text-danger">
				<span class="glyphicon glyphicon-trash"></span>
			</a>
		</td>
	</script>