		<script type="text/template" id="evento-new">

		<form id="form-evento-new" method="post" action="#">
			<div>
				<span>Evento:</span><input name="evento" />
			</div>
			<div>
				<span>fecha:</span><input name="fecha" />
			</div>
			<div>
				<span>etiqueta1:</span><input name="etiqueta1"  />
			</div>
			<div>
				<span>etiqueta2:</span><input name="etiqueta2"  />
			</div>
			<div>
			<input type="hidden" name="idApartado" value="<%= idApartado %>"  />
				<input type="submit" />
			</div>
		</form>
	</script>